import(methods)

import(foreach)
import(doParallel)

import(BiocGenerics)
#importFrom(BiocParallel, bplapply, bpparam)
importFrom(BatchJobs, makeRegistry, findDone, loadResult)

export("parGLM")
exportMethods("parGLM")
S3method("predict", "parglm")
S3method("print", "parglm")
S3method("summary", "parglm")
